<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Intelligent Lighting and Temperature Control System</title>

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="static/sb-admin-2.min.css">
  <link rel="stylesheet" type="text/css" href="static/extras.css">
  <style>
    div.extraPadding1{
  padding-bottom: 17px;
  }
      div.extraPadding2{
  padding-bottom: 102px;
  }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <div class="lighttext mx-3">
            <h5 class="m-0 font-weight-bold text-primary">
          	<a class="nav-link" href="{{ url_for('index') }}">Intelligent Lighting and Temperature Control System</a>
            </h5>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <form method="post" action="submitForm">
          <!-- Content Row: Light Level and Temperature -->
          <div class="row">

            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-primary">Light Level</h5>  
                </div>
                <div class="card-body center1">
                  <h4 class="small font-weight-bold">Current Light Level</h4>
                    <h1 class="dinline">{{current.lightLevel}} </h1>
                    <h3 class="mt-2 dinline">%</h3>
                  <br>
                  <br>
                  <h4 class="small font-weight-bold">Desired Light Level</h4>
                  <div class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                      <input type="number" id="refLight" name="refLight" class="form-control bg-light border-0 small" value="{{reference.lightLevel}}" aria-label="Search" aria-describedby="basic-addon2" min="0" max="100" required> 
                    </div>
              	  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-primary">Temperature</h5>
                </div>
                <div class="card-body center1">
                  <h4 class="small font-weight-bold">Current Temperature</h4>
                    <h1 class="dinline">{{current.temperature}} </h1>
                    <h3 class="mt-2 dinline">°C</h3>
                  <br>
                  <br>
                  <h4 class="small font-weight-bold">Desired Temperature</h4>
                  <div class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                      <input type="number" id="refTemp" name="refTemp" class="form-control bg-light border-0 small" value="{{reference.temperature}}" aria-label="Search" aria-describedby="basic-addon2" min="0" max="50" required>
                    </div>
              	  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Content Row: Blinds and Heater -->
          <div class="row">

          	<!-- Blinds -->
            <div class="col-xl-8 col-lg-7"> 
               <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-primary">Blinds</h5>
                </div>

                <div class="card-body">
                  <div class="row">  
                    <div class="col-lg-6 mb-4 center1">
                      <h4 class="small font-weight-bold">Current Height</h4>
                      <h2 class="dinline">{{current.height}}</h2>
                      <h2 class="dinline">%</h2>
                    </div>

                    <div class="col-lg-6 mb-4 center1">
                      <h4 class="small font-weight-bold">Current Tilt</h4>
                      <h2 class="dinline">{{current.tilt}}</h2>
                      <h2 class="dinline">%</h2>  
                    </div>
                  </div>
                  <br>

                  	<div class="row">
                    	<div class="col-lg-12 mb-4 center1">
                    		<h4 class="small font-weight-bold">Manual Blind Control</h4>
                    		<label class="switch">
                      			{% if manual.blinds == True %}
                      			<input type="checkbox" name="manBlinds" checked>
                      			<span class="slider1 round"></span>
                      			{% else %}
                      			<input type="checkbox" name="manBlinds">
                      			<span class="slider1 round"></span>
                      			{% endif %}
                    		</label>
                  		</div>
                	</div>


                	<div class="row">  
                  		<div class="col-lg-6 mb-4 center1">
                    		<h4 class="small font-weight-bold">Reference Height</h4>
                    		<div class="slidecontainer">
                     			<input type="range" min="1" max="100" value="{{reference.height}}" class="slider2" id="manHeight" name="manHeight" oninput="updateSlider(this.value, 'vBlindsDesired')">
                    		</div>
                    		<h3 class="dinline" id="vBlindsDesired">{{reference.height}}</h3>
                    		<h3 class="dinline">%</h3>
                  		</div>
                  		<div class="col-lg-6 mb-4 center1">
                    		<h4 class="small font-weight-bold">Reference Tilt</h4>
                    		<div class="slidecontainer">
                     			<input type="range" min="1" max="100" value="{{reference.tilt}}" class="slider2" id="manTilt" name="manTilt" oninput="updateSlider(this.value, 'tBlindsDesired')">
                    		</div>
                    		<h3 class="dinline" id="tBlindsDesired">{{reference.tilt}}</h3>
                    		<h3 class="dinline">%</h3>
                  		</div>
                	</div>

              	</div>
              </div>
            </div>

            <!-- Heater -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-primary">Heater</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12 mb-4 center1">
                      <h4 class="small font-weight-bold">Current Status</h4>
                      {% if current.heater == True %}
                      <h2>ON</h2>
                      {% else %}
                      <h2>OFF</h2>
                      {% endif %}
                    </div>
                  </div>

                  <br>

                  	<div class="row">
                    	<div class="col-lg-12 mb-4 center1">
                      		<h4 class="small font-weight-bold">Manual Heater Control</h4>
                      		<label class="switch">
                      			{% if manual.heater == True %}
                      			<input type="checkbox" name="manHeater" checked>
                      			<span class="slider1 round"></span>
                      			{% else %}
                      			<input type="checkbox" name="manHeater">
                      			<span class="slider1 round"></span>
                      			{% endif %}
                      		</label>
                    	</div>
                  	</div>

                  	<div class="row">  
                    	<div class="col-lg-12 mb-4 center1">
                      		<h4 class="small font-weight-bold">Heater Power</h4>
                      		<label class="switch">
                      			{% if reference.heater == True %}
                      			<input type="checkbox" name="refHeater" checked>
                      			<span class="slider1 round"></span>
                      			{% else %}
                      			<input type="checkbox" name="refHeater">
                      			<span class="slider1 round"></span>
                      			{% endif %}
                      		</label>
                    	</div>
                  	</div>
                    <div class="extraPadding1"> 
                    </div>
                  
                </div>
              </div>
            </div>

          </div>

          <!-- Datalogger -->
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-primary">Submit Values</h5>  
                </div>
                <div class="card-body">
                  <input class="btn btn-primary" type="submit" value="Submit">
                  <div class="extraPadding2">
                  </div>
                </div>
              </div>
            </div>
          </form>

            <div class="col-lg-6 mb-4">
            	<div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-primary">Datalogger</h5>  
                </div>
                <div class="card-body">
               	<form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search" method="POST" action="datalogger">
                   <div class="input-group">
                   	<div><label>Date</label><br>
                   		<input type="date" name="requestDate" required> </div>
                   	<div><label>Start time</label><br>
                   		<input type="time" name="requestTime1" required></div>
                   	<div><label>End time</label><br>
                   		<input type="time" name="requestTime2" required></div>
                   </div>
                   <br>
                   <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                </form>	
                </div>
              </div>
            </div>

          </div>


          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

            </div>

            <div class="col-lg-6 mb-4">

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Last updated April 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Derek's JavaScript-->
  <script type="text/javascript">
  	function updateSlider(sliderValue, numberElement){ 
			document.getElementById(numberElement).innerHTML = sliderValue;
			return;
		}
  </script>

</body>

</html>
